{% extends "base.html" %}
{% block main %}
<h1>Create action rules for {{ collection_exercise.userDescription }}</h1>
<p>Create action rules.</p>
<form>
    <label for="action_plan_id">Action plan</label>
    <select id="action_plan_id" name="action_plan_id">
        {% for item in plans %}
        <option value="{{ item.id }}">{{ item.name }}</option>
        {% endfor %}
    </select><br>
    <label for="name">Action rule name</label>
    <input type="text" id="name" name="name"><br>
    <label for="description">Action rule description</label>
    <input type="text" id="description" name="description"><br>
    <label for="action_rule_type">Action rule type</label>
    <select id="action_rule_type" name="action_rule_type">
        {% for item in action_types %}
        <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select><br>
    <label for="priority">Priority</label>
    <input type="number" min="1" max="5" id="priority" name="priority"><br>
    <label for="timestamp">Action timestamp</label>
    <input type="datetime-local" id="timestamp" name="timestamp"><br>
    <input type="submit" formmethod="post" value="Create action rule">
</form>
<a href="/survey/{{ survey_id }}/collection/{{ collection_exercise_id }}">Back</a>
{% endblock %}