{% extends "base.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item"><a href="/survey/{{ survey.id }}">{{ survey.shortName }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ collection_exercise.userDescription }}</li>
{% endblock %}
{% block main %}
<div class="row">
    <div class="col">
        <h2>{{ collection_exercise.userDescription }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-1">
        <label>Events:</label>
    </div>
    <div class="col">
        {% if not events %}
        <p>No event dates have been added.</p>
        {% endif %}
        {% for item in events %}
        <div class="row">
            <label>{{ item.tag }}: {{ item.timestamp }}</label>
        </div>
        {% endfor %}
        </ul>
    </div>
</div>

<div>
    <a href="/survey/{{ survey_id }}/collection/{{ collection_exercise_id }}/event">Load Event</a>
</div>
<div>
    <a href="/survey/{{ survey_id }}/collection/{{ collection_exercise_id }}/ci">Load Collection Instrument</a>
</div>
<div>
    <a href="/survey/{{ survey_id }}/collection/{{ collection_exercise_id }}/sample">Load Sample</a>
</div>
<div>
    <a href="/survey/{{ survey_id }}/collection/{{ collection_exercise_id }}/actions">View / Load Action Plans</a>
</div>
{% endblock %}