{% extends "base.html" %} {% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item"><a href="/survey/{{ survey.id }}">{{ survey.shortName }}</a></li>
<li class="breadcrumb-item"><a href="/survey/{{ survey.id }}/collection/{{ collection_exercise.id }}">{{ collection_exercise.userDescription
        }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Events</li>
{% endblock %} {% block main %}
<div class="offset-1 col-10">
    <h1>Upload a sample for {{ collection_exercise.userDescription }}</h1>
    <p>Upload a sample for the collection exercise. Invalid samples will not be displayed here</p>
    <form enctype="multipart/form-data">
        <div class="custom-file">
            <input type="file" name="sample" class="custom-file-input" id="sample_file" accept=".csv">
            <label class="custom-file-label" for="sample_file">Choose file</label>
        </div>
        <input class="btn btn-light" type="submit" formmethod="post" name="sample_upload" value="Load sample">
    </form>
</div>
{% endblock %}