{% extends "base.html" %}
{% block main %}
<h1>{{ survey.longName }}</h1>
<div>
    <h3>Collection Exercise</h3>
    {% for item in collection_exercises %}
    <a href="/survey/{{ survey_id }}/collection/{{ item.id }}">{{ item.userDescription }}</a><br>
    {% endfor %}
</div><br>
<div>
    <a href="/survey/{{ survey_id }}/classifiers">Create Survey Classifiers</a>
</div>
<div>
    <h3>Create a collection exercise</h3>
    <form>
        <label for="period">Period</label>
        <input type="number" id="period" name="period"><br>
        <label for="period_description">Period Description</label>
        <input type="text" id="period_description" name="period_description"><br>
        <input type="submit" value="Create" formmethod="post">
    </form>
</div>
<a href="/survey">Back</a>
{% endblock %}