{% extends "base.html" %} {% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ survey.shortName }}</li>
{% endblock %} {% block main %}
<div class="row">
    <div class="col-8">
        <h3>Collection Exercise</h3>
        {% if not collection_exercises %}
        <p>No collection exercises.</p>
        <ul class="list-group">
            {% endif %} {% for item in collection_exercises %}
            <a class="list-group-item survey-list" href="/survey/{{ survey_id }}/collection/{{ item.id }}">{{
                item.userDescription
                }}
            </a>
            {% endfor %}
        </ul>
    </div>
    <div class="col-4">
        <h3>Create a collection exercise</h3>
        <form>
            <div class="form-group">
                <label for="period">Period</label>
                <input class="form-control" type="number" id="period" name="period">
            </div>
            <div class="form-group">
                <label for="period_description">Period Description</label>
                <input class="form-control" type="text" id="period_description" name="period_description">
            </div>
            <div class="form-group">
                <input class="form-control" type="submit" value="Save" formmethod="post">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="/survey/{{ survey_id }}/classifiers">Set Survey Classifiers</a>
    </div>
</div>
{% endblock %}